fastapi[standard]
uvicorn[standard]
python-dotenv
python-multipart

openai
azure-identity
azure-cosmos
azure-search-documents

PyJWT
PyMuPDF
pytest-cov

azure-monitor-opentelemetry
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging